<!DOCTYPE html>
<html lang="en">
{% include 'templates/sections/header.html.twig' %}

<body class="text-center">
    <div class="p-1 bg-info text-white text-center">
        <h3>BeeJee test work</h3>
        <img class="img-fluid  w-25" src="/assets/logo.webp" alt="" />

{#        {{ _context | json_encode | raw }}#}
        {% include 'templates/sections/nav.html.twig' %}
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include 'templates/sections/footer.html.twig' %}

</body>
</html>
