<div class="mb-3 row m-0 border border-primary">
    <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ task.username }}">
    </div>

    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ task.email }}">
    </div>

    <label for="staticEmail" class="col-sm-2 col-form-label">Content</label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ task.content }}">
    </div>

    <label for="flexSwitchCheckDefault" class="col-sm-2 col-form-label">Done</label>
    <div class="col-sm-10 form-check form-switch">
        <input class="form-check-input" disabled="disabled" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    </div>
</div>
