{% extends 'templates/layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Home Page</h1>

    <p>
    {% if user %}
        Hello, <b>{{ user.username }}</b> we have a lot of tasks today!
    {% else %}
        Hello, this is home page, for view all tasks please click on Task in menu
    {% endif %}
    </p>

{% endblock %}