{% extends 'templates/layout.html.twig' %}

{% block title %}Task created{% endblock %}

{% block content %}

    <h1>Yoohooo...</h1>
    <div class="row text-start">
        <div class="alert alert-secondary" role="alert">
            <h3>
                Congratulations mi lord, you task was created successfully!
                Feel free to try it again!
            </h3>

            <p><a href="/tasks/page/1" class="link-success">Go back to the tasks page</a></p>
        </div>
    </div>

{% endblock %}