{% extends 'templates/layout.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block content %}

    <h1>Tasks</h1>
    {% include 'templates/sections/pagination.html.twig' %}

    {% for key,task in tasks %}
        {% include 'templates/sections/tasks/task.html.twig' %}
    {% endfor %}

    {% include 'templates/sections/pagination.html.twig' %}

{% endblock %}