<nav class="nav nav-tabs justify-content-center">

    {% for key,page in pages %}
        <li class="nav-item">
            {% set active = '' %}
            {% if page.link == currentPage %}
                {% set active = 'active' %}
            {% endif %}

            <a class="nav-link {{ active }}" aria-current="page" href="/{{ page.link }}">{{ page.title }}</a>
        </li>
    {% endfor %}
</nav>
